body {
  font-family: sans-serif;
  font-weight: bold;
}

#prompt {
  display: block;
}

#countdown {
 display: none;
}

#prompt, #countdown {
  margin: auto;
  width: 800px;
  padding-top: 5em;
}

.countdown {
  display: flex;
  flex-direction: row;
  width: 500px;
  margin: auto;
}

h1 {
  margin: auto;
  text-align: center;
  font-size: 50px;
  padding-bottom: 1em;
}

.show {
  flex: none;
  padding-right: 10px;
}

.spacer {
  flex-grow: 1;
}

.label {
  align: center;
  width: 100%;
  font-size: 14;
  text-align: center;
}

.display {
  text-align: center;
  width: 100%;
  font-size: 40pt;
}

#weeks-show {
  padding-right: 20px;
}

#name {
  font-size: 50px;
  margin-bottom: 1em;
}

#go {
  font-size: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
  margin: auto;
}

.go {
  text-align: center;
}

.date {
  margin-top: 100px;
}

form, form input {
  font-size: 20pt;
}
